<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<button onclick="vm.openForm()">Open Form</button>
			<h1>{{ 'Nilai a: ' + sum }}</h1>
			<h1>{{ 'Rata-rata: ' + average }}</h1>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					arrNilai: [],
				},
				computed: {
					average() {
						let avg =
							this.arrNilai.reduce((x, y) => x + y, 0) / this.arrNilai.length ||
							0;
						return avg;
					},
					sum() {
						return this.arrNilai.reduce((x, y) => x + y, 0) || 0;
					},
				},
				watch: {
					sum: function (newVal, oldVal) {
						if (this.sum < 10) {
							this.openForm();
						}
					},
				},
				methods: {
					openForm() {
						let a = prompt('Masukkan nilai a');
						this.arrNilai.push(parseInt(a));
					},
				},
			});
		</script>
	</body>
</html>
