<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="app">
			<section class="container">
				<form id="form" ref="form">
					<div class="form-group">
						<label for="name">Name</label>
						<input
							type="text"
							name="name"
							:disabled="isUpload"
							ref="name"
							v-model.trim="name"
						/>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input
							type="text"
							name="address"
							ref="address"
							:disabled="isUpload"
							v-model.trim="address"
						/>
					</div>
					<div class="form-group">
						<label for="no_hp">Nomor HP</label>
						<input
							type="text"
							:disabled="isUpload"
							name="no_hp"
							ref="no_hp"
							v-model.trim="no_hp"
						/>
					</div>

					<div v-if="isEdit">
						<button @click.prevent="update(idMember)" class="save">
							Update
						</button>
						<button @click="clearForm">Cancel</button>
					</div>
					<button
						v-else-if="!isEdit && !isUpload"
						class="save"
						@click.prevent="submit"
					>
						Submit
					</button>

					<div class="form-group" v-if="isUpload">
						<label for="photo_profile">Foto</label>
						<input type="file" name="photo_profile" ref="photo_profile" />
						<button @click.prevent="uploadPhoto(idMember)">Upload</button>
						<button @click="clearForm">Cancel</button>
					</div>

					<section class="errors" v-if="visible">
						<ul v-for="error in errors">
							<li>{{ error }}</li>
						</ul>
					</section>
				</form>
			</section>
			<member-component
				:members="members"
				:base-url="baseUrl"
				@edit="edit"
				@destroy="destroy"
				@show-upload="showUpload"
			/>

			<template id="memberTemplate">
				<section class="members">
					<table>
						<tr v-for="member of members">
							<td width="10%">
								<img
									:src="member.photo_profile ? baseUrl + member.photo_profile : 'https://dummyimage.com/100x100/383838/fff.jpg'"
									:alt="member.name"
								/>
							</td>
							<td width="40%">
								<div class="member-data">
									<span><strong>Name:</strong> {{ member.name }}</span>
									<span><strong>Address:</strong> {{ member.address }}</span>
									<span><strong>No. Hp:</strong> {{ member.no_hp }}</span>
								</div>
							</td>
							<td>
								<button class="btn-action" @click="$emit('edit', member)">
									Edit
								</button>
								<button class="btn-action" @click="$emit('destroy', member.id)">
									Hapus
								</button>
								<button
									class="btn-action"
									@click="$emit('show-upload', member)"
								>
									Upload Foto
								</button>
							</td>
						</tr>
					</table>
				</section>
			</template>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script type="module">
			import { MemberComponent } from './MembersComponent.js';

			var vm = new Vue({
				el: '#app',
				components: {
					'member-component': MemberComponent,
				},
				data: {
					name: '',
					address: '',
					no_hp: '',
					errors: [],
					members: [],
					baseUrl: 'http://demo-api-vue.sanbercloud.com',
					isEdit: false,
					idMember: null,
					isUpload: false,
					visible: true,
				},
				methods: {
					getMembers() {
						axios
							.get('http://demo-api-vue.sanbercloud.com/api/member')
							.then((response) => {
								// console.log(response.data.members);
								this.members = response.data.members;
							})
							.catch((error) => {
								console.log(error);
							});
					},

					clearForm() {
						this.name = '';
						this.address = '';
						this.no_hp = '';
						this.idMember = null;
						this.isEdit = false;
						this.isUpload = false;
					},
					validation() {
						this.errors = [];

						if (this.name == '') {
							this.errors.push('Nama wajib diisi!');
							this.$refs.name.focus();
						}

						if (this.address == '') {
							this.errors.push('Alamat wajib diisi!');
							this.$refs.address.focus();
						}

						if (this.no_hp == '') {
							this.errors.push('Nomor HP wajib diisi!');
							this.$refs.address.focus();
						}

						if (!this.no_hp.match(/^[0-9]+$/)) {
							this.errors.push('Nomor HP harus angka!');
							this.$refs.no_hp.focus();
						}
					},

					submit() {
						this.validation();
						if (this.errors.length !== 0) {
							this.visible = true;
							setTimeout(() => {
								this.visible = false;
							}, 5000);
							return false;
						}
						let form = new FormData();
						form.append('name', this.name);
						form.append('address', this.address);
						form.append('no_hp', this.no_hp);

						axios
							.post('http://demo-api-vue.sanbercloud.com/api/member', form)
							.then((response) => {
								alert(response.data.message);
								this.clearForm();
								this.getMembers();
								console.log(response);
							})
							.catch((error) => {
								console.log(error);
							});
					},
					edit(member) {
						this.name = member.name;
						this.address = member.address;
						this.no_hp = member.no_hp;
						this.idMember = member.id;
						this.isEdit = true;
					},
					update(id) {
						this.validation();
						if (this.errors.length !== 0) {
							this.visible = true;
							setTimeout(() => {
								this.visible = false;
							}, 5000);
							return false;
						}
						let form = new FormData();
						form.append('name', this.name);
						form.append('address', this.address);
						form.append('no_hp', this.no_hp);

						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`,
								form
							)
							.then((response) => {
								this.clearForm();
								this.getMembers();
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},
					destroy(id) {
						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`,
								form
							)
							.then((response) => {
								this.getMembers();
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},

					showUpload(member) {
						this.name = member.name;
						this.address = member.address;
						this.no_hp = member.no_hp;
						this.idMember = member.id;
						this.isUpload = true;
						this.isEdit = false;
					},
					uploadPhoto(id) {
						let photo = this.$refs.photo_profile.files[0];
						let form = new FormData();
						form.append('photo_profile', photo);
						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
								form
							)
							.then((response) => {
								this.clearForm();
								this.$refs.photo_profile.value = '';

								this.getMembers();
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},
				},
				created() {
					this.getMembers();
				},
			});
		</script>
	</body>
</html>
