<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
			#app {
				display: flex;
			}
			section.container {
				margin: 1rem;
				padding: 0.5rem;
				width: 380px;
				background-color: #ddd;
			}

			button {
				cursor: pointer;
				font-weight: bold;
				width: 100%;
				margin: 0.4rem 0;
				padding: 4px 0;
				border-radius: 0;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				border: 1px solid transparent;
				background-color: #bbb;
			}

			.form-group {
				margin: 0.5rem 0;
			}
			.form-group > input,
			button.save {
				display: block;
				width: 100%;
				padding: 4px;
				box-sizing: border-box;
			}

			button.save {
				background-color: #3acf5d;
				font-weight: bold;
				color: white;
				cursor: pointer;
				margin-top: 0.8rem;
			}

			.btn-action {
				width: auto;
				padding: 5px;
				margin: 2px;
			}

			button:hover {
				background-color: #23943e;
				border: 1px #23943e solid;
				cursor: pointer;
			}

			section.members {
				width: 640px;
				margin: 1rem;
				padding: 0.5rem;
				background-color: #ddd;
			}

			table {
				width: 100%;
			}

			table td {
				border: 1px solid black;
			}
			table td img {
				width: 100px;
			}

			table .member-data {
				display: flex;
				flex-direction: column;
				padding-left: 4px;
			}
			section.errors {
				margin-top: 2rem;
			}

			section.errors li {
				color: darkred;
				margin: -8px 0;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<section class="container">
				<form id="form" ref="form">
					<div class="form-group">
						<label for="name">Name</label>
						<input
							type="text"
							name="name"
							:disabled="isUpload"
							ref="name"
							v-model.trim="name"
						/>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input
							type="text"
							name="address"
							ref="address"
							:disabled="isUpload"
							v-model.trim="address"
						/>
					</div>
					<div class="form-group">
						<label for="no_hp">Nomor HP</label>
						<input
							type="text"
							:disabled="isUpload"
							name="no_hp"
							ref="no_hp"
							v-model.trim="no_hp"
						/>
					</div>

					<div v-if="isEdit">
						<button @click.prevent="update(idMember)" class="save">
							Update
						</button>
						<button @click="clearForm">Cancel</button>
					</div>
					<button
						v-else-if="!isEdit && !isUpload"
						class="save"
						@click.prevent="submit"
					>
						Submit
					</button>

					<div class="form-group" v-if="isUpload">
						<label for="photo_profile">Foto</label>
						<input type="file" name="photo_profile" ref="photo_profile" />
						<button @click.prevent="uploadPhoto(idMember)">Upload</button>
						<button @click="clearForm">Cancel</button>
					</div>

					<section class="errors" v-if="visible">
						<ul v-for="error in errors">
							<li>{{ error }}</li>
						</ul>
					</section>
				</form>
			</section>
			<section class="members">
				<table>
					<tr v-for="member of members">
						<td width="10%">
							<img
								:src="member.photo_profile ? baseUrl + member.photo_profile : 'https://dummyimage.com/100x100/383838/fff.jpg'"
								:alt="member.name"
							/>
						</td>
						<td width="40%">
							<div class="member-data">
								<span><strong>Name:</strong> {{ member.name }}</span>
								<span><strong>Address:</strong> {{ member.address }}</span>
								<span><strong>No. Hp:</strong> {{ member.no_hp }}</span>
							</div>
						</td>
						<td>
							<button class="btn-action" @click="edit(member)">Edit</button>
							<button class="btn-action" @click="destroy(member.id)">
								Hapus
							</button>
							<button class="btn-action" @click="showUpload(member)">
								Upload Foto
							</button>
						</td>
					</tr>
				</table>
			</section>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					name: '',
					address: '',
					no_hp: '',
					errors: [],
					members: [],
					baseUrl: 'http://demo-api-vue.sanbercloud.com',
					isEdit: false,
					idMember: null,
					isUpload: false,
					visible: true,
				},
				methods: {
					getMembers() {
						axios
							.get('http://demo-api-vue.sanbercloud.com/api/member')
							.then((response) => {
								console.log(response.data.members);
								this.members = response.data.members;
							})
							.catch((error) => {
								console.log(error);
							});
					},

					clearForm() {
						this.name = '';
						this.address = '';
						this.no_hp = '';
						this.idMember = null;
						this.isEdit = false;
						this.isUpload = false;
					},
					validation() {
						this.errors = [];

						if (this.name == '') {
							this.errors.push('Nama wajib diisi!');
							this.$refs.name.focus();
						}

						if (this.address == '') {
							this.errors.push('Alamat wajib diisi!');
							this.$refs.address.focus();
						}

						if (this.no_hp == '') {
							this.errors.push('Nomor HP wajib diisi!');
							this.$refs.address.focus();
						}

						if (!this.no_hp.match(/^[0-9]+$/)) {
							this.errors.push('Nomor HP harus angka!');
							this.$refs.no_hp.focus();
						}
					},

					submit() {
						this.validation();
						if (this.errors.length !== 0) {
							this.visible = true;
							setTimeout(() => {
								this.visible = false;
							}, 5000);
							return false;
						}
						let form = new FormData();
						form.append('name', this.name);
						form.append('address', this.address);
						form.append('no_hp', this.no_hp);

						axios
							.post('http://demo-api-vue.sanbercloud.com/api/member', form)
							.then((response) => {
								alert(response.data.message);
								this.clearForm();
								this.getMembers();
								console.log(response);
							})
							.catch((error) => {
								console.log(error);
							});
					},
					edit(member) {
						this.name = member.name;
						this.address = member.address;
						this.no_hp = member.no_hp;
						this.idMember = member.id;
						this.isEdit = true;
					},
					update(id) {
						this.validation();
						if (this.errors.length !== 0) {
							this.visible = true;
							setTimeout(() => {
								this.visible = false;
							}, 5000);
							return false;
						}
						let form = new FormData();
						form.append('name', this.name);
						form.append('address', this.address);
						form.append('no_hp', this.no_hp);

						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`,
								form
							)
							.then((response) => {
								this.clearForm();
								this.getMembers();
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},
					destroy(id) {
						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`,
								form
							)
							.then((response) => {
								this.getMembers();
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},

					showUpload(member) {
						this.name = member.name;
						this.address = member.address;
						this.no_hp = member.no_hp;
						this.idMember = member.id;
						this.isUpload = true;
						this.isEdit = false;
					},
					uploadPhoto(id) {
						let photo = this.$refs.photo_profile.files[0];
						let form = new FormData();
						form.append('photo_profile', photo);
						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
								form
							)
							.then((response) => {
								this.clearForm();
								this.$refs.photo_profile.value = '';

								this.getMembers();
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},
				},
				created() {
					this.getMembers();
				},
			});
		</script>
	</body>
</html>
