<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			li {
				margin-top: 1em;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<input type="text" name="input" v-model="userName" />
			<button v-if="!isEdit" @click="addUser">add</button>
			<button v-else @click="updateUser(userName)">update</button>
			<ul>
				<li v-for="(user, index) in users">
					{{ user.name }}
					<button
						@click="userName = user.name; isEdit = true ; indexUser = index"
					>
						Edit
					</button>
					||
					<button @click="deleteUser(index)">Delete</button>
				</li>
			</ul>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					users: [
						{ name: 'Muhammad Iqbal Mubarok' },
						{ name: 'Ruby Purwanti' },
						{ name: 'Faqih Muhammad' },
					],
					isEdit: false,
					userName: '',
					indexUser: 0,
				},
				methods: {
					addUser() {
						this.users.push({ name: this.userName });
						this.userName = '';
					},
					updateUser() {
						this.users[this.indexUser].name = this.userName;
						this.userName = '';
						this.isEdit = false;
					},
					deleteUser(index) {
						this.users.splice(index, 1);
					},
				},
			});
		</script>
	</body>
</html>
