<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			section {
				margin: 1em;
				display: flex;
				flex-direction: column;
			}
			section span {
				margin: 3px 0;
			}

			button {
				width: 1.5rem;
			}

			textarea {
				margin-top: 1rem;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<section v-for="(comment, index) in comments">
				<button @click="upvote(index)">+</button>
				<span
					>{{ comment.content }} || {{ comment.date }} || Score: {{ votes[index]
					}}</span
				>
				<button @click="downvote(index)">-</button>
			</section>

			<textarea
				rows="5"
				cols="30"
				@keydown.enter.exact.prevent="send"
				v-model="textComment"
			></textarea>
			<!-- <input type="text" name="search" v-model.trim="cari" />
			<ul>
				<li v-for="(book, index) in myBooks">{{ book }}</li>
			</ul> -->
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					comments: [
						{
							date: '17-03-2021',
							content: 'komentar 1 komentar 1 komentar 1',
							score: 0,
							upvoted: false,
							downvoted: false,
						},
						{
							date: '16-03-2021',
							content: 'komentar 2 komentar 2 komentar 2',
							score: 5,
							upvoted: false,
							downvoted: false,
						},
						{
							date: '15-03-2021',
							content: 'komentar 3 komentar 3 komentar 3',
							score: 5,
							upvoted: false,
							downvoted: false,
						},
					],
					textComment: '',
				},
				computed: {
					votes() {
						return this.comments.map((comment) => {
							if (comment.upvoted) {
								return comment.score + 1;
							} else if (comment.downvoted) {
								return comment.score - 1;
							} else {
								return comment.score;
							}
						});
					},
				},
				methods: {
					send() {
						this.comments.push({
							date: '17-03-2021',
							content: this.textComment,
							score: 0,
							upvoted: false,
							downvoted: false,
						});
						this.textComment = '';
					},

					upvote(index) {
						this.comments[index].upvoted = !this.comments[index].upvoted;
						this.comments[index].downvoted = false;
					},
					downvote(index) {
						this.comments[index].downvoted = !this.comments[index].downvoted;
						this.comments[index].upvoted = false;
					},
				},
			});
		</script>
	</body>
</html>
