<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<input type="text" name="search" v-model.trim="cari" />
			<ul>
				<li v-for="(book, index) in myBooks">{{ book }}</li>
			</ul>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					books: [
						'Kalkulus Dasar',
						'Fisika Dasar',
						'Aljabar Linear Elementer',
						'Aljabar Abstrak',
						'Algoritma Pemrograman',
					],
					cari: '',
				},
				computed: {
					myBooks() {
						return this.books.filter((book) => {
							return book.toLowerCase().includes(this.cari.toLowerCase());
						});
					},
				},
			});
		</script>
	</body>
</html>
