<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<section class="nav">
				<div v-for="category in categories">
					<router-link :to="category">{{ category }}</router-link>
				</div>
			</section>

			<section class="content">
				<router-view></router-view>
			</section>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
		<script>
			const roles = ['admin', 'user'];
			const isLogin = true;
			const currentRole = 'user';

			const First = {
				template: '<h3>Ini adalah halaman 1</h3>',
			};

			const Second = {
				template: '<h3>Ini adalah halaman 2</h3>',
			};

			const Third = {
				template: '<h3>Ini adalah halaman 3</h3>',
			};

			const router = new VueRouter({
				routes: [
					{
						path: '/halaman1',
						component: First,
						alias: '/',
					},
					{
						path: '/halaman2',
						component: Second,
						beforeEnter(to, from, next) {
							if (!isLogin) {
								alert('user belum login!');
								next(false);
							} else {
								next();
							}
						},
					},
					{
						path: '/halaman3',
						component: Third,
						beforeEnter(to, from, next) {
							if (!isLogin) {
								alert('user belum login!');
								next(false);
							} else if (isLogin && currentRole !== 'admin') {
								alert('user tidak memiliki akses!');
								next(false);
							} else {
								next();
							}
						},
					},
				],
			});

			var vm = new Vue({
				el: '#app',
				router,
				data: {
					categories: ['halaman1', 'halaman2', 'halaman3'],
				},

				methods: {},
			});
		</script>
	</body>
</html>
