<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="app">
			<section class="container">
				<form id="form" ref="form">
					<div class="form-group">
						<label for="name">Name</label>
						<input
							type="text"
							name="name"
							:disabled="isUpload"
							ref="name"
							v-model.trim="name"
						/>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input
							type="text"
							name="address"
							ref="address"
							:disabled="isUpload"
							v-model.trim="address"
						/>
					</div>
					<div class="form-group">
						<label for="no_hp">Nomor HP</label>
						<input
							type="text"
							:disabled="isUpload"
							name="no_hp"
							ref="no_hp"
							v-model.trim="no_hp"
						/>
					</div>

					<div v-if="isEdit">
						<button @click.prevent="update(idMember)" class="save">
							Update
						</button>
						<button @click="clearForm">Cancel</button>
					</div>
					<button
						v-else-if="!isEdit && !isUpload"
						class="save"
						@click.prevent="submit"
					>
						Submit
					</button>

					<div class="form-group" v-if="isUpload">
						<label for="photo_profile">Foto</label>
						<input type="file" name="photo_profile" ref="photo_profile" />
						<button @click.prevent="uploadPhoto(idMember)">Upload</button>
						<button @click="clearForm">Cancel</button>
					</div>

					<section class="errors" v-if="visible">
						<ul v-for="error in errors">
							<li>{{ error }}</li>
						</ul>
					</section>
				</form>
			</section>
			<member-component />

			<template id="memberTemplate">
				<section class="members">
					<table>
						<tr v-for="member of members">
							<td width="10%">
								<img
									:src="member.photo_profile ? baseUrl + member.photo_profile : 'https://dummyimage.com/100x100/383838/fff.jpg'"
									:alt="member.name"
								/>
							</td>
							<td width="40%">
								<div class="member-data">
									<span><strong>Name:</strong> {{ member.name }}</span>
									<span><strong>Address:</strong> {{ member.address }}</span>
									<span><strong>No. Hp:</strong> {{ member.no_hp }}</span>
								</div>
							</td>
							<td>
								<button class="btn-action" @click="edit(member)">Edit</button>
								<button class="btn-action" @click="destroy(member.id)">
									Hapus
								</button>
								<button class="btn-action" @click="showUpload(member)">
									Upload Foto
								</button>
							</td>
						</tr>
					</table>
				</section>
			</template>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script type="module">
			import { MemberComponent } from './MembersComponent.js';

			var store = new Vuex.Store({
				state: {
					name: '',
					address: '',
					no_hp: '',
					members: [],
					isEdit: false,
					isUpload: false,
					idMember: null,
					baseUrl: 'http://demo-api-vue.sanbercloud.com',
				},
				getters: {
					members: (state) => {
						return state.members;
					},
					baseUrl: (state) => {
						return state.baseUrl;
					},
					name: (state) => {
						return state.name;
					},
					address: (state) => {
						return state.address;
					},
					no_hp: (state) => {
						return state.no_hp;
					},
					idMember: (state) => {
						return state.idMember;
					},
					isEdit: (state) => {
						return state.isEdit;
					},
					isUpload: (state) => {
						return state.isUpload;
					},
				},
				mutations: {
					setMembers(state, members) {
						state.members = members;
					},
					updateName(state, val) {
						state.name = val;
					},
					updateAddress(state, val) {
						state.address = val;
					},
					updateHP(state, val) {
						state.no_hp = val;
					},
					updateMember(state, val) {
						state.idMember = val;
					},
					showEdit(state) {
						state.isEdit = true;
					},
					hideEdit(state) {
						state.isEdit = false;
					},
					showUpload(state) {
						state.isUpload = true;
					},
					hideUpload(state) {
						state.isUpload = false;
					},
				},
				actions: {
					getMembers({ commit }) {
						axios
							.get('http://demo-api-vue.sanbercloud.com/api/member')
							.then((response) => {
								commit('setMembers', response.data.members);
							})
							.catch((error) => {
								console.log(error);
							});
					},

					destroyMember({ commit, dispatch }, id) {
						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`,
								form
							)
							.then((response) => {
								dispatch('getMembers');
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},

					getMember({ commit }, member) {
						commit('updateName', member.name);
						commit('updateAddress', member.address);
						commit('updateHP', member.no_hp);
						commit('updateMember', member.id);
						commit('showEdit');
					},

					uploadPhoto({ commit }, member) {
						commit('updateName', member.name);
						commit('updateAddress', member.address);
						commit('updateHP', member.no_hp);
						commit('updateMember', member.id);
						commit('hideEdit');
						commit('showUpload');
					},

					resetState({ commit }) {
						commit('updateName', '');
						commit('updateAddress', '');
						commit('updateHP', '');
						commit('updateMember', null);
						commit('hideEdit');
						commit('hideUpload');
					},
				},
			});

			var vm = new Vue({
				el: '#app',
				store,
				components: {
					'member-component': MemberComponent,
				},
				data: {
					errors: [],
					visible: true,
				},
				methods: {
					clearForm() {
						this.$store.dispatch('resetState');
					},
					validation() {
						this.errors = [];

						if (this.name == '') {
							this.errors.push('Nama wajib diisi!');
							this.$refs.name.focus();
						}

						if (this.address == '') {
							this.errors.push('Alamat wajib diisi!');
							this.$refs.address.focus();
						}

						if (this.no_hp == '') {
							this.errors.push('Nomor HP wajib diisi!');
							this.$refs.address.focus();
						}

						if (!this.no_hp.match(/^[0-9]+$/)) {
							this.errors.push('Nomor HP harus angka!');
							this.$refs.no_hp.focus();
						}
					},

					submit() {
						this.validation();
						if (this.errors.length !== 0) {
							this.visible = true;
							setTimeout(() => {
								this.visible = false;
							}, 5000);
							return false;
						}
						let form = new FormData();
						form.append('name', this.name);
						form.append('address', this.address);
						form.append('no_hp', this.no_hp);

						axios
							.post('http://demo-api-vue.sanbercloud.com/api/member', form)
							.then((response) => {
								alert(response.data.message);
								this.$store.dispatch('resetState');
								this.$store.dispatch('getMembers');
								// console.log(response);
							})
							.catch((error) => {
								console.log(error);
							});
					},

					update(id) {
						this.validation();
						if (this.errors.length !== 0) {
							this.visible = true;
							setTimeout(() => {
								this.visible = false;
							}, 5000);
							return false;
						}
						let form = new FormData();
						form.append('name', this.name);
						form.append('address', this.address);
						form.append('no_hp', this.no_hp);

						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`,
								form
							)
							.then((response) => {
								this.$store.dispatch('resetState');
								this.$store.dispatch('getMembers');
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},

					uploadPhoto(id) {
						let photo = this.$refs.photo_profile.files[0];
						let form = new FormData();
						form.append('photo_profile', photo);
						axios
							.post(
								`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
								form
							)
							.then((response) => {
								this.$store.dispatch('resetState');
								this.$refs.photo_profile.value = '';

								this.$store.dispatch('getMembers');
								alert(response.data.message);
							})
							.catch((error) => {
								console.log(error);
							});
					},
				},
				created() {
					this.$store.dispatch('getMembers');
				},
				computed: {
					...Vuex.mapGetters([
						'members',
						'baseUrl',
						'isEdit',
						'isUpload',
						'idMember',
					]),
					name: {
						get() {
							return this.$store.state.name;
						},
						set(value) {
							this.$store.commit('updateName', value);
						},
					},
					address: {
						get() {
							return this.$store.state.address;
						},
						set(value) {
							this.$store.commit('updateAddress', value);
						},
					},
					no_hp: {
						get() {
							return this.$store.state.no_hp;
						},
						set(value) {
							this.$store.commit('updateHP', value);
						},
					},
				},
			});
		</script>
	</body>
</html>
