body {
	margin: 0;
	padding: 0;
}
#app {
	display: flex;
}
section.container {
	margin: 1rem;
	padding: 0.5rem;
	width: 380px;
	background-color: #ddd;
}

button {
	cursor: pointer;
	font-weight: bold;
	width: 100%;
	margin: 0.4rem 0;
	padding: 4px 0;
	border-radius: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border: 1px solid transparent;
	background-color: #bbb;
}

.form-group {
	margin: 0.5rem 0;
}
.form-group > input,
button.save {
	display: block;
	width: 100%;
	padding: 4px;
	box-sizing: border-box;
}

button.save {
	background-color: #3acf5d;
	font-weight: bold;
	color: white;
	cursor: pointer;
	margin-top: 0.8rem;
}

.btn-action {
	width: auto;
	padding: 5px;
	margin: 2px;
}

button:hover {
	background-color: #23943e;
	border: 1px #23943e solid;
	cursor: pointer;
}

section.members {
	width: 640px;
	margin: 1rem;
	padding: 0.5rem;
	background-color: #ddd;
}

table {
	width: 100%;
}

table td {
	border: 1px solid black;
}
table td img {
	width: 100px;
}

table .member-data {
	display: flex;
	flex-direction: column;
	padding-left: 4px;
}
section.errors {
	margin-top: 2rem;
}

section.errors li {
	color: darkred;
	margin: -8px 0;
}
